body {
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.widget-container {
  position: fixed;
  right: 20px;
  bottom: 100px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.2s linear;
}

iframe {
  border-radius: 16px;
  border: 0;
}

.toggle-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-image: url('logo-button.png');
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: transparent;
}


.toggle-button:hover {
  transform: scale(1.1); /* Augmente la taille de 10% au survol */
}
